@import '../../styles/variables';

.container {
  border-top: 2px solid $hi5Tan;
  border-bottom: 2px solid $hi5Tan;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  color: $hi5Black;
}

.container * {
  color: $hi5Black;
  margin: 5px 10px;
  font-size: 18px;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}