@import '../../styles/variables';

.container {
  align-items: center;
  margin: 70px 0px;
}

.header {
  font-family: 'Reem Kufi', sans-serif;
  color: $hi5Black;
  font-size: 30px;
  margin-bottom: 30px;
}

.breedList {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 60%;
  height: 75%;
  justify-content: space-between
}